
1차시_Regression/.ipynb_checkpoints/[Lab 1] Logistic Regression-checkpoint.ipynb
1차시_Regression/.ipynb_checkpoints/[Lab 1] Logistic Regression-checkpoint.ipynb
1차시_Regression/.ipynb_checkpoints/[Lab 1] Logistic Regression-checkpoint.ipynb
1차시_Regression/.ipynb_checkpoints/[Lab1] Linear Regression-checkpoint.ipynb
1차시_Regression/.ipynb_checkpoints/[Lab1] 텐서 가지고 놀기-checkpoint.ipynb
1차시_Regression/heart.csv
2차시_Backpropagation/.ipynb_checkpoints/[Lab 2-1] XOR Problem-checkpoint.ipynb
2차시_Backpropagation/.ipynb_checkpoints/[Lab 2-2] 손글씨 데이터 인식하기-checkpoint.ipynb
2차시_Backpropagation/MNIST/processed/MNIST/processed/test.pt
2차시_Backpropagation/MNIST/processed/MNIST/processed/training.pt
2차시_Backpropagation/MNIST/processed/MNIST/raw/t10k-images-idx3-ubyte
2차시_Backpropagation/MNIST/processed/MNIST/raw/t10k-images-idx3-ubyte.gz
2차시_Backpropagation/MNIST/processed/MNIST/raw/t10k-labels-idx1-ubyte
2차시_Backpropagation/MNIST/processed/MNIST/raw/t10k-labels-idx1-ubyte.gz
2차시_Backpropagation/MNIST/processed/MNIST/raw/train-images-idx3-ubyte
2차시_Backpropagation/MNIST/processed/MNIST/raw/train-images-idx3-ubyte.gz
2차시_Backpropagation/MNIST/processed/MNIST/raw/train-labels-idx1-ubyte
2차시_Backpropagation/MNIST/processed/MNIST/raw/train-labels-idx1-ubyte.gz
2차시_Backpropagation/MNIST/processed/test.pt
2차시_Backpropagation/MNIST/processed/training.pt
2차시_Backpropagation/MNIST/raw/t10k-images-idx3-ubyte
2차시_Backpropagation/MNIST/raw/t10k-images-idx3-ubyte.gz
2차시_Backpropagation/MNIST/raw/t10k-labels-idx1-ubyte
2차시_Backpropagation/MNIST/raw/t10k-labels-idx1-ubyte.gz
2차시_Backpropagation/MNIST/raw/train-images-idx3-ubyte
2차시_Backpropagation/MNIST/raw/train-images-idx3-ubyte.gz
2차시_Backpropagation/MNIST/raw/train-labels-idx1-ubyte
2차시_Backpropagation/MNIST/raw/train-labels-idx1-ubyte.gz
1차시_Regression/.ipynb_checkpoints/[Lab 1] Logistic Regression-checkpoint.ipynb
1차시_Regression/.ipynb_checkpoints/[Lab1] Linear Regression-checkpoint.ipynb
1차시_Regression/.ipynb_checkpoints/[Lab1] 텐서 가지고 놀기-checkpoint.ipynb
2차시_Backpropagation/.ipynb_checkpoints/[Lab 2-1] XOR Problem-checkpoint.ipynb
2차시_Backpropagation/.ipynb_checkpoints/[Lab 2-2] 손글씨 데이터 인식하기-checkpoint.ipynb
1차시_Regression/.ipynb_checkpoints/[Lab 1] Logistic Regression-checkpoint.ipynb
1차시_Regression/.ipynb_checkpoints/[Lab1] Linear Regression-checkpoint.ipynb
1차시_Regression/.ipynb_checkpoints/[Lab1] 텐서 가지고 놀기-checkpoint.ipynb
2차시_Backpropagation/.ipynb_checkpoints/[Lab 2-1] XOR Problem-checkpoint.ipynb
2차시_Backpropagation/.ipynb_checkpoints/[Lab 2-2] 손글씨 데이터 인식하기-checkpoint.ipynb
2차시_Backpropagation/.ipynb_checkpoints/[Lab 2-2] 손글씨 데이터 인식하기-checkpoint.ipynb
2차시_Backpropagation/.ipynb_checkpoints/[Lab 2-2] 손글씨 데이터 인식하기-checkpoint.ipynb
1차시_Regression/.ipynb_checkpoints/[Lab 1] Logistic Regression-checkpoint.ipynb
1차시_Regression/.ipynb_checkpoints/[Lab1] Linear Regression-checkpoint.ipynb
